<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CCD8WD25BZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CCD8WD25BZ');
</script>
<meta name="google-site-verification" content="google096984e36d25e1ae" />
<meta name="description" content="Advancing economic development and policy research through spatial analysis, offering data-driven insights on inequality and poverty.">
<meta name="keywords" content="Joseph Gozoya, Economics, Research, Inequality, Spatial Analysis, Policy">
<meta name="author" content="Joseph Gozoya">
<meta name="robots" content="index, follow">
