<!-- Meta Information -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Economics">
<meta name="author" content="Joseph Gozoya">
<meta name="robots" content="index, follow">

<!-- Open Graph (Facebook, LinkedIn, WhatsApp) -->
<meta property="og:title" content="Joseph Gozoya">
<meta property="og:description" content="Explore my projects, research and insights">
<meta property="og:image" content="https://josephgozoya.github.io/assets/images/favico.png">
<meta property="og:url" content="https://josephgozoya.github.io">
<meta property="og:type" content="website">


<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">

<!-- PNG Favicon -->
<link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}" />

<!-- ICO Favicon (for older browsers) -->
<link rel="icon" type="image/x-icon" href="{{ '/assets/images/favicon.ico' | relative_url }}" />

<!-- SVG Favicon (for modern browsers) -->
<link rel="icon" type="image/svg+xml" href="{{ '/assets/images/favicon.svg' | relative_url }}" />
